<div class="section">
	<div id="about-section">
		<div class="container">
			<div class="title-section triggerAnimation animated bounceIn" data-animate="bounceIn" style="">
				<h1>Title here</h1>
				<div class="dotted-line"></div>
				<p>urna. Quisque id libero risus. Aliquam accumsan erat id </p>
			</div>

			<div class="services-box">
				<div class="row">
					<div class="col-md-4">
						<div class="services-post triggerAnimation animated fadeInLeft" data-animate="fadeInLeft" style="">
							<a href="#"><i class="fa fa-location-arrow"></i></a>
							<h2>Title here</h2>
							<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus vel eu nibh. </p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="services-post triggerAnimation animated fadeInUp" data-animate="fadeInUp" style="">
							<a href="#"><i class="fa fa-laptop"></i></a>
							<h2>Title here</h2>
							<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus vel eu nibh. </p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="services-post triggerAnimation animated fadeInRight" data-animate="fadeInRight" style="">
							<a href="#"><i class="fa fa-html5"></i></a>
							<h2>Title here</h2>
							<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus vel eu nibh. </p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>