<div class="section">
	<div id="client-section">
		<div id="customElement"><div class="mbYTP_wrapper" id="wrapper_mbYTP_video" style="position: absolute; z-index: 0; min-width: 100%; min-height: 100%; left: 0px; top: 0px; overflow: hidden; opacity: 0;"><div id="mbYTP_video" class="playerBox" style="position: absolute; z-index: 0; width: 100%; height: 100%; top: 0px; left: 0px; overflow: hidden; opacity: 1;"></div><div class="YTPOverlay" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"></div></div></div>
		<a id="video" class="player mb_YTVPlayer" data-property="{videoURL:&#39;https://www.youtube.com/watch?v=2_OOO_gzZJs&#39;,containment:&#39;#customElement&#39;, showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:false, quality:&#39;default&#39;}" style="display: none;">video</a> 
		<div class="container">
			<div class="title-section white triggerAnimation animated bounceIn" data-animate="bounceIn" style="">
				<h1>Our client </h1>
				<div class="dotted-line"></div>
				<p>sem placerat tempus vel eu nibh.</p>
			</div>
			<ul class="client-list">
				<li><a href="#"><img alt="" src="./img/client.png"></a></li>
				<li><a href="#"><img alt="" src="./img/client.png"></a></li>
				<li><a href="#"><img alt="" src="./img/client.png"></a></li>
				<li><a href="#"><img alt="" src="./img/client.png"></a></li>
				<li><a href="#"><img alt="" src="./img/client.png"></a></li>
				<li><a href="#"><img alt="" src="./img/client.png"></a></li>
			</ul>
		</div>
	</div>
</div>