<div class="section">
	<div id="contact-section">
		<div class="container">
			<div class="title-section triggerAnimation animated bounceIn" data-animate="bounceIn" style="">
				<h1>Contact</h1>
				<div class="dotted-line"></div>
				<p> eros tortor, tristique cursus porttitor et, l</p>
			</div>
		</div>
		<div class="map"></div>
		<div class="container">
			<div class="contact-box">
				<div class="row">

					<div class="col-md-6">
						<form id="contact-form">
							<h2>Leave a Message</h2>
							<input name="name" id="name" type="text" placeholder="Name">
							<input name="mail" id="mail" type="text" placeholder="Your e-mail">
							<input name="website" id="website" type="text" placeholder="Website">
							<textarea name="comment" id="comment" placeholder="Message"></textarea>
							<button type="submit" name="contact-submit" id="submit_contact">
								Send
							</button>
							<div id="msg" class="message"></div>
						</form>
					</div>
					<div class="col-md-6">
						<div class="contact-info">
							<h2>Contact Info</h2>
							<ul class="contact-list">
								<li>
									<span><i class="fa fa-map-marker"></i></span>
									<p>Quisque id libero risus</p>
								</li>
								<li>
									<span><i class="fa fa-phone"></i></span>
									<p>+00000000  -  +00000000</p>
								</li>
								<li>
									<span><i class="fa fa-envelope-o"></i></span>
									<p>admin@admin.com</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>