<footer>
<div class="container">
	<ul class="social-icons">
		<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
		<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
		<li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
		<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>					
	</ul>
	<p>2016 ben eaves</p>
</div>
</footer>