<div class="section">
	<div id="home-section" style="height: 1027px;">
		
		<div class="flexslider">
			<ul class="slides">
				<li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" class="">
					<div class="flexcaption">
						<h1>sit amet, consectetur adipisicing</h1>
						<div></div>
						<p>sint occaecat cupidatat</p>
					</div>
				</li>
				<li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" class="">
					<div class="flexcaption">
						<h1>consectetur adipisicing elit</h1>
						<div></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
					</div>
				</li>
				<li style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;" class="flex-active-slide">
					<div class="flexcaption">
						<h1>dolor sit amet, consectetur adipisicing</h1>
						<div></div>
						<p>Excepteur sint occaecat cupidatat non</p>
					</div>
				</li>
			</ul>
		<ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="flex-active">3</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#"></a></li><li><a class="flex-next" href="#"></a></li></ul></div>
		<a href="#about-section" class="discover">Discover Now</a>
	</div>
</div>
