<div class="section">
	<div id="portfolio-section">
		<div class="container">
			<div class="title-section triggerAnimation animated bounceIn" data-animate="bounceIn" style="">
				<h1>Our Works</h1>
				<div class="dotted-line"></div>
				<p>dolor sit amet.</p>
			</div>
			<ul class="filter">
				<li><a href="#" class="active" data-filter="*">All</a></li>
				<li><a href="#" data-filter=".web-design">Web Design</a></li>
				<li><a href="#" data-filter=".photography">Photography</a></li>
				<li><a href="#" data-filter=".illustration">Illustration</a></li>
				<li><a href="#" data-filter=".branding">Branding</a></li>
			</ul>
			<div class="portfolio-container triggerAnimation animated isotope bounceIn" data-animate="bounceIn" style="overflow: hidden; position: relative; height: 1113px;">
				<div class="work-post web-design photography scnd-size isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
					<img alt="" src="./img/1.jpg">
					<a href="#" class="hover-box">
						<div class="inner-hover">
							<h2>img</h2>
							<span>demo</span>									
						</div>
					</a>
				</div>
				<div class="work-post illustration branding isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(570px, 0px, 0px);">
					<img alt="" src="./img/1.jpg">
					<a href="#" class="hover-box">
						<div class="inner-hover">
							<h2>img</h2>
							<span>demo</span>									
						</div>
					</a>
				</div>
				<div class="work-post branding photography isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(855px, 0px, 0px);">
					<img alt="" src="./img/1.jpg">
					<a href="#" class="hover-box">
						<div class="inner-hover">
							<h2>img</h2>
							<span>demo</span>									
						</div>
					</a>
				</div>
				<div class="work-post web-design illustration isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(570px, 278px, 0px);">
					<img alt="" src="./img/1.jpg">
					<a href="#" class="hover-box">
						<div class="inner-hover">
							<h2>img</h2>
							<span>demo</span>									
						</div>
					</a>
				</div>
				<div class="work-post branding photography isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(855px, 278px, 0px);">
					<img alt="" src="./img/1.jpg">
					<a href="#" class="hover-box">
						<div class="inner-hover">
							<h2>img</h2>
							<span>demo</span>									
						</div>
					</a>
				</div>
				<div class="work-post web-design photography isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 555px, 0px);">
					<img alt="" src="./img/1.jpg">
					<a href="#" class="hover-box">
						<div class="inner-hover">
							<h2>img</h2>
							<span>demo</span>									
						</div>
					</a>
				</div>
				<div class="work-post web-design branding isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(285px, 555px, 0px);">
					<img alt="" src="./img/1.jpg">
					<a href="#" class="hover-box">
						<div class="inner-hover">
							<h2>img</h2>
							<span>demo</span>									
						</div>
					</a>
				</div>
				<div class="work-post illustration photography isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(855px, 556px, 0px);">
					<img alt="" src="./img/1.jpg">
					<a href="#" class="hover-box">
						<div class="inner-hover">
							<h2>img</h2>
							<span>demo</span>									
						</div>
					</a>
				</div>
				<div class="work-post illustration photography scnd-size isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(570px, 834px, 0px);">
					<img alt="" src="./img/1.jpg">
					<a href="#" class="hover-box">
						<div class="inner-hover">
							<h2>img</h2>
							<span>demo</span>									
						</div>
					</a>
				</div>
				<div class="work-post illustration photography isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 833px, 0px);">
					<img alt="" src="./img/1.jpg">
					<a href="#" class="hover-box">
						<div class="inner-hover">
							<h2>img</h2>
							<span>demo</span>									
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>