<div class="section">
	<div id="price-section" data-stellar-background-ratio="0" style="background-position: 0% 1574px;">
		<div class="container">
			<div class="title-section triggerAnimation animated bounceIn" data-animate="bounceIn" style="">
				<h1>title here</h1>
				<div class="dotted-line"></div>
				<p>sub-title here.</p>
			</div>
			<div class="row">

				<div class="col-md-4">
					<ul class="pricing-table basic">
						<li class="title">
							<p>Basic pack</p>
						</li>
						<li>
							<p>10GB Disk Space</p>
						</li>
						<li>
							<p>something here</p>
						</li>
						<li>
							<p>something here</p>
						</li>
						<li>
							<p>something here</p>
						</li>
						<li class="price">
							<p><span>$00.50</span> Per Month</p>
						</li>
						<li class="button-sign">
							<a href="/signup">Sign Up</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="pricing-table premium">
						<li class="title">
							<p>Premium Pack</p>
						</li>
						<li>
							<p>something here</p>
						</li>
						<li>
							<p>something here</p>
						</li>
						<li>
							<p>something here</p>
						</li>
						<li>
							<p>something here</p>
						</li>
						<li class="price">
							<p><span>$00.50</span> Per Month</p>
						</li>
						<li class="button-sign">
							<a href="/signup">Sign Up</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="pricing-table unlimited">
						<li class="title">
							<p>Unlimited Pack</p>
						</li>
						<li>
							<p>something here</p>
						</li>
						<li>
							<p>something here</p>
						</li>
						<li>
							<p>something here</p>
						</li>
						<li>
							<p>something here</p>
						</li>
						<li class="price">
							<p><span>$00.50</span> Per Month</p>
						</li>
						<li class="button-sign">
							<a href="/signup">Sign Up</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>