<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/jquery.migrate.js"></script>
<script type="text/javascript" src="./js/jquery.appear.js"></script>
<script type="text/javascript" src="./js/jquery.mb.YTPlayer.js"></script>
<script type="text/javascript" src="./js/jquery.flexslider.js"></script>
<script type="text/javascript" src="./js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="./js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.js"></script>
<script type="text/javascript" src="./js/waypoints.js"></script>
<script type="text/javascript" src="./js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="./js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="./js/jquery.stellar.min.js"></script>
<script type="text/javascript" src="./js/smooth-scroll.js"></script>
<script type="text/javascript" src="./js/plugins-scroll.js"></script>
<script type="text/javascript" src="./js/jquery.quovolver.js"></script>
<script type="text/javascript" src="./js/jquery.countTo.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="./js/gmap3.min.js"></script>
<script type="text/javascript" src="./js/script.js"></script>

