<div class="section">
	<div id="services-section">
		<div class="container">
			
			<div class="title-section triggerAnimation animated bounceIn" data-animate="bounceIn" style="">
				<h1>Service</h1>
				<div class="dotted-line"></div>
				<p>Our team created best opportunities for your business.</p>
			</div>
			<div class="services-box2">
				<div class="row">
					<div class="col-md-3">
						<div class="services-post triggerAnimation animated fadeInLeft" data-animate="fadeInLeft" style="">
							<a href="#"><i class="fa fa-css3"></i></a>
							<h2>Service</h2>
							<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="services-post triggerAnimation animated fadeInUp" data-animate="fadeInUp" style="">
							<a href="#"><i class="fa fa-cogs"></i></a>
							<h2>Service</h2>
							<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="services-post triggerAnimation animated fadeInRight" data-animate="fadeInRight" style="">
							<a href="#"><i class="fa fa-thumbs-o-up"></i></a>
							<h2>Service</h2>
							<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="services-post triggerAnimation animated fadeInRight" data-animate="fadeInRight" style="">
							<a href="#"><i class="fa fa-flask"></i></a>
							<h2>Service</h2>
							<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>