<div class="section">
	<div id="statistic-section">
		<div class="container">
			<div class="title-section triggerAnimation animated bounceIn" data-animate="bounceIn" style="">
				<h1>Aliquam accum </h1>
				<div class="dotted-line"></div>
				<p>Quisque id libero risus. Aliquam accumsan erat id .</p>
			</div>

			<div class="statistic-box triggerAnimation animated fadeIn" data-animate="fadeIn" style="">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="statistic-post">
							<div class="statistic-counter">
								<p><span class="timer" data-from="0" data-to="500">500</span></p>
								<p> eros tortor, tristique </p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="statistic-post">
							<div class="statistic-counter">
								<p><span class="timer" data-from="0" data-to="68">68</span></p>
								<p>porttitor et</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="statistic-post">
							<div class="statistic-counter">
								<p><span class="timer" data-from="0" data-to="450">450</span></p>
								<p>accumsan erat id </p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="statistic-post">
							<div class="statistic-counter">
								<p><span class="timer" data-from="0" data-to="840">840</span></p>
								<p>Quisque id libero </p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>