<div class="section">
	<div id="team-section">
		<div class="container">
			<div class="title-section triggerAnimation animated bounceIn" data-animate="bounceIn" style="">
				<h1>Meet our professional Team </h1>
				<div class="dotted-line"></div>
				<p>ibero risus. Aliquam accumsan erat id </p>
			</div>
			
			<div class="team-box">
				<div class="row">
				
					<div class="col-md-3 col-sm-6">
						<div class="staff-post">
							<div class="staff-post-gal">
								<img alt="" src="./img/1.jpg">
								<div class="hover-team">
									<div class="inner-team">
										<span>job</span>
										<ul class="staf-social">
											<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
											<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
										</ul>
									</div>											
								</div>
							</div>
							
							<div class="staff-post-content">
								<h3>Name Here</h3>
							</div>
						</div>
					</div>
				
					<div class="col-md-3 col-sm-6">
						<div class="staff-post">
							<div class="staff-post-gal">
								<img alt="" src="./img/1.jpg">
								<div class="hover-team">
									<div class="inner-team">
										<span>job</span>
										<ul class="staf-social">
											<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
											<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
										</ul>
									</div>											
								</div>
							</div>
							
							<div class="staff-post-content">
								<h3>Name Here</h3>
							</div>
						</div>
					</div>
				
					<div class="col-md-3 col-sm-6">
						<div class="staff-post">
							<div class="staff-post-gal">
								<img alt="" src="./img/1.jpg">
								<div class="hover-team">
									<div class="inner-team">
										<span>job</span>
										<ul class="staf-social">
											<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
											<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
										</ul>
									</div>											
								</div>
							</div>
							
							<div class="staff-post-content">
								<h3>Name Here</h3>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="staff-post">
							<div class="staff-post-gal">
								<img alt="" src="./img/1.jpg">
								<div class="hover-team">
									<div class="inner-team">
										<span>job</span>
										<ul class="staf-social">
											<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
											<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
										</ul>
									</div>											
								</div>
							</div>
							
							<div class="staff-post-content">
								<h3>Name Here</h3>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>