<div class="section">
	<div id="testimonial-section" data-stellar-background-ratio="0" style="background-position: 0% 6351px;">
		<div class="container">
			<div class="testimonial">
				<div class="quovolve-box play"><ul class="quovolve" style="position: relative; height: auto;">
					<li style="display: none; height: 161px;">
						<p>“There is no design without <span>discipline.</span> <br> There is no discipline without intelligence.”</p>
						<span>-  Name here  -</span>
					</li>
					<li style="display: none; height: 161px;">
						<p>“ Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ”</p>
						<span>-  Name here  -</span>
					</li>
					<li style="display: list-item; height: 161px;">
						<p>“ Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo”</p>
						<span>-  Name here  -</span>
					</li>
				</ul></div>
			</div>
		</div>
	</div>
</div>