<div class="section">
	<div id="tweet-section" data-stellar-background-ratio="0" style="background-position: 0px 2066px;">
		<div class="container">
			<div class="tweet-box">
				<span class="tweet-icon"><i class="fa fa-twitter"></i></span>
			</div>
			<div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 139px;"><ul class="bxslider" style="width: 515%; position: relative; transition-duration: 0s; transform: translate3d(-1180px, 0px, 0px);"><li style="float: left; list-style: none; position: relative; width: 1140px;" class="bx-clone">
					<p>faucibus justo aliquam <a href="#">http://t.co/ubl3HWNexC</a></p>
					<span>-  Artstudio  53 minutes ago  -</span>
				</li>
				<li style="float: left; list-style: none; position: relative; width: 1140px;">
					<p>Created couple new imgns <a href="#">http://t.co/ubl3HWNexC</a></p>
					<span>-  Gred Binner  53 minutes ago  -</span>
				</li>
				<li style="float: left; list-style: none; position: relative; width: 1140px;">
					<p>Nullam fermentum nisl diam <a href="#">http://t.co/ubl3HWNexC</a></p>
					<span>-  Nunforest  25 minutes ago  -</span>
				</li>
				<li style="float: left; list-style: none; position: relative; width: 1140px;">
					<p>faucibus justo aliquam <a href="#">http://t.co/ubl3HWNexC</a></p>
					<span>-  Artstudio  53 minutes ago  -</span>
				</li>
			<li style="float: left; list-style: none; position: relative; width: 1140px;" class="bx-clone">
					<p>Created couple new imgns <a href="#">http://t.co/ubl3HWNexC</a></p>
					<span>-  Gred Binner  53 minutes ago  -</span>
				</li></ul></div><div class="bx-controls bx-has-pager bx-has-controls-direction"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="#" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="#" data-slide-index="1" class="bx-pager-link">2</a></div><div class="bx-pager-item"><a href="#" data-slide-index="2" class="bx-pager-link">3</a></div></div><div class="bx-controls-direction"><a class="bx-prev" href="#"></a><a class="bx-next" href="#"></a></div></div></div>
		</div>
	</div>
</div>